/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fff8f5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
}
